In [ ]:
import pandas as pd 
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float, Date, BigInteger, MetaData, Table
df_csv = pd.read_csv("stock_prices_all.csv")

df_csv['date'] = pd.to_datetime(df_csv['date']).dt.date
print(df_csv.head())
bootcamp_engine = create_engine("postgresql+psycopg2://postgres:admin1234@localhost:5432/bootcamp_2504")
metadata = MetaData()

ohlc_table = Table("stocks_data", metadata,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('code', String),
    Column('date', Date),
    Column('open', Float),
    Column('high', Float),
    Column('low', Float),
    Column('close', Float),
    Column('volume', BigInteger)
)
metadata.create_all(bootcamp_engine)

df_csv.to_sql("stocks_data", bootcamp_engine, index=False, if_exists="append")

# df_csv.to_sql("ohlc_data", bootcamp_engine, index=False, if_exists="replace")

      code        date       open       high        low      close    volume
0  1299.HK  2022-07-08  85.150002  85.650002  84.300003  85.150002  11743725
1  1299.HK  2022-07-11  83.849998  84.300003  82.599998  83.199997  19686652
2  1299.HK  2022-07-12  82.699997  83.949997  82.150002  83.250000  14370471
3  1299.HK  2022-07-13  84.000000  84.750000  83.650002  84.000000  22229531
4  1299.HK  2022-07-14  83.050003  83.650002  82.300003  82.849998  20092276

955

In [ ]:
ohlc_df = pd.read_sql("select * from ohlc_data", con=bootcamp_engine)
# print(type(ohlc_df))
# print(ohlc_df.info())

# 比較日期部分（忽略時間）
result = ohlc_df[
    (ohlc_df["symbol"].isin(["TSLA", "NVDA"])) &
    (ohlc_df["date"] == pd.to_datetime("2024-08-01").date())
]

print(result)

        id symbol        date        open        high         low       close  \
520    521   TSLA  2024-08-01  227.690002  231.869995  214.330002  216.860001
2776  2777   NVDA  2024-08-01  117.529999  120.160004  106.809998  109.209999

         volume
520    83861900
2776  523462300

In [2]:
import pandas as pd 
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float, Date, BigInteger, MetaData, Table
df_csv = pd.read_csv("stock_prices_all.csv")

df_csv['date'] = pd.to_datetime(df_csv['date']).dt.date
print(df_csv.head())
bootcamp_engine = create_engine("postgresql://postgres:snowmist@18.163.162.70:5432/test_db")
metadata = MetaData()

ohlc_table = Table("stocks_data", metadata,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('code', String),
    Column('date', Date),
    Column('open', Float),
    Column('high', Float),
    Column('low', Float),
    Column('close', Float),
    Column('volume', BigInteger)
)
metadata.create_all(bootcamp_engine)

df_csv.to_sql("stocks_data", bootcamp_engine, index=False, if_exists="append")

      code        date       open       high        low      close    volume
0  1299.HK  2022-07-08  85.150002  85.650002  84.300003  85.150002  11743725
1  1299.HK  2022-07-11  83.849998  84.300003  82.599998  83.199997  19686652
2  1299.HK  2022-07-12  82.699997  83.949997  82.150002  83.250000  14370471
3  1299.HK  2022-07-13  84.000000  84.750000  83.650002  84.000000  22229531
4  1299.HK  2022-07-14  83.050003  83.650002  82.300003  82.849998  20092276

395

In [2]:
import pandas as pd
from sqlalchemy import create_engine, MetaData
from sqlalchemy.dialects.postgresql import insert
from sqlalchemy.exc import SQLAlchemyError

# === CONFIG ===
DB_URL = "postgresql://postgres:snowmist@54.46.7.246:5432/test_db"
CSV_PATH = "stock_prices_all.csv"
TABLE_NAME = "stocks_data"

# === STEP 1: Load CSV ===
try:
    df = pd.read_csv(CSV_PATH, dtype={
        'code': str,
        'open': float,
        'high': float,
        'low': float,
        'close': float,
        'volume': 'Int64'
    })
    df['date'] = pd.to_datetime(df['date'], errors='coerce').dt.date
    df.dropna(subset=['date'], inplace=True)  # 移除無效日期
    print(f"✅ 成功讀取 {len(df)} 筆資料")
except Exception as e:
    print("❌ 讀取 CSV 發生錯誤:", e)
    exit(1)

# === STEP 2: Connect to PostgreSQL ===
try:
    engine = create_engine(DB_URL)
    metadata = MetaData()
    metadata.reflect(bind=engine)
    table = metadata.tables[TABLE_NAME]
    print("✅ 成功連線到資料庫")
except Exception as e:
    print("❌ 資料庫連線錯誤:", e)
    exit(1)

# === STEP 3: UPSERT each row ===
try:
    with engine.begin() as conn:
        for index, row in df.iterrows():
            insert_stmt = insert(table).values(
                code=row['code'],
                date=row['date'],
                open=row['open'],
                high=row['high'],
                low=row['low'],
                close=row['close'],
                volume=row['volume']
            )

            upsert_stmt = insert_stmt.on_conflict_do_update(
                index_elements=['code', 'date'],
                set_={
                    'open': insert_stmt.excluded.open,
                    'high': insert_stmt.excluded.high,
                    'low': insert_stmt.excluded.low,
                    'close': insert_stmt.excluded.close,
                    'volume': insert_stmt.excluded.volume
                }
            )

            conn.execute(upsert_stmt)

    print("✅ 匯入與更新完成！")
except SQLAlchemyError as e:
    print("❌ 匯入/更新資料失敗:", e)

✅ 成功讀取 28075 筆資料
✅ 成功連線到資料庫
❌ 匯入/更新資料失敗: (psycopg2.errors.InvalidColumnReference) there is no unique or exclusion constraint matching the ON CONFLICT specification

[SQL: INSERT INTO stocks_data (code, date, open, high, low, close, volume) VALUES (%(code)s, %(date)s, %(open)s, %(high)s, %(low)s, %(close)s, %(volume)s) ON CONFLICT (code, date) DO UPDATE SET open = excluded.open, high = excluded.high, low = excluded.low, close = excluded.close, volume = excluded.volume RETURNING stocks_data.id]
[parameters: {'code': '1299.HK', 'date': datetime.date(2022, 7, 8), 'open': 85.1500015258789, 'high': 85.6500015258789, 'low': 84.30000305175781, 'close': 85.1500015258789, 'volume': 11743725}]
(Background on this error at: https://sqlalche.me/e/20/f405)