In [55]:
import pandas as pd

# Series
s = pd.Series([2, 8, 10, -2])
print(s)
print(type(s)) # Series

# DataFrame
dictionary = {
  "names" : ["Jacky", "Bob", "Steven"],
  "ages" : [27, 9, 13],
  "city" : ["Hong Kong", "New York", "Hong Kong"]
}

print(type(dictionary))

# convert from dictionary to dataframe
df = pd.DataFrame(dictionary)
print(df)

0     2
1     8
2    10
3    -2
dtype: int64
<class 'pandas.core.series.Series'>
<class 'dict'>
    names  ages       city
0   Jacky    27  Hong Kong
1     Bob     9   New York
2  Steven    13  Hong Kong

In [56]:
import pandas as pd
df = pd.read_csv("staffs.csv")

print(df.head()) # first 5 rows
print(df.tail()) # last 5 rows
print(df.info())
print(df.describe())

     name  age             email
0   jacky   27   jacky@gmail.com
1     bob    9     bob@gmail.com
2  steven   13  steven@gmail.com
3    alex   40    alex@gmail.com
4   ricky   19   ricky@gmail.com
     name  age             email
1     bob    9     bob@gmail.com
2  steven   13  steven@gmail.com
3    alex   40    alex@gmail.com
4   ricky   19   ricky@gmail.com
5     leo   23     leo@gmail.com
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    6 non-null      object
 1   age     6 non-null      int64
 2   email   6 non-null      object
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes
None
             age
count   6.000000
mean   21.833333
std    11.034793
min     9.000000
25%    14.500000
50%    21.000000
75%    26.000000
max    40.000000

In [32]:
import pandas as pd
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

df = pd.read_csv(url)

# print(df["Age"].mean())
# print(df["Age"] > 30)

print(df.groupby("Survived")["Age"].mean())

Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64

In [11]:
print(df["Age"].isnull().any())
print(df["Name"].isnull().any())

print(df.isnull().sum())

print(df.columns[df.isnull().any()])

True
False
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
Index(['Age', 'Cabin', 'Embarked'], dtype='object')

In [3]:
# Dataframe consists of many series

# Column Access. column = series
print(df["name"])
print(type(df["name"])) # Series

print(df["age"])
print(df["email"])

KeyError: 'name'

In [58]:
# Row Access (SQL)
print(type(df.loc[0])) # Series

print(df.loc[1]) # locate

print(df.iloc[1]) # index locate

# print(df.loc[df["name"] == "jacky"])

# age > 10
# print(df.loc[df["age"] > 10])

# dataframe (and: &) (or: |)
# Python dataframe: &| has higher precedence than comparison operators (> or ==).
print(df.loc[(df["age"] > 30) & (df["name"].str.contains("e"))])
print(df.loc[(df["age"] > 30) | (df["name"].str.contains("e"))])

<class 'pandas.core.series.Series'>
name               bob
age                  9
email    bob@gmail.com
Name: 1, dtype: object
name               bob
age                  9
email    bob@gmail.com
Name: 1, dtype: object
   name  age           email
3  alex   40  alex@gmail.com
     name  age             email
2  steven   13  steven@gmail.com
3    alex   40    alex@gmail.com
5     leo   23     leo@gmail.com

In [33]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}, index=[100, 101, 102])  # custom index

# print(df.loc[101])
# print(df.iloc[1])
# print(df.loc[df["Age"] > 28])

print(df)

        Name  Age
100    Alice   25
101      Bob   30
102  Charlie   35

In [60]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [61]:
# find all male from the csv
print(df.loc[df["Sex"] == "male"])

     PassengerId  Survived  Pclass                            Name   Sex  \
0              1         0       3         Braund, Mr. Owen Harris  male
4              5         0       3        Allen, Mr. William Henry  male
5              6         0       3                Moran, Mr. James  male
6              7         0       1         McCarthy, Mr. Timothy J  male
7              8         0       3  Palsson, Master. Gosta Leonard  male
..           ...       ...     ...                             ...   ...
883          884         0       2   Banfield, Mr. Frederick James  male
884          885         0       3          Sutehall, Mr. Henry Jr  male
886          887         0       2           Montvila, Rev. Juozas  male
889          890         1       1           Behr, Mr. Karl Howell  male
890          891         0       3             Dooley, Mr. Patrick  male

      Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0    22.0      1      0         A/5 21171   7.2500   NaN        S
4    35.0      0      0            373450   8.0500   NaN        S
5     NaN      0      0            330877   8.4583   NaN        Q
6    54.0      0      0             17463  51.8625   E46        S
7     2.0      3      1            349909  21.0750   NaN        S
..    ...    ...    ...               ...      ...   ...      ...
883  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
886  27.0      0      0            211536  13.0000   NaN        S
889  26.0      0      0            111369  30.0000  C148        C
890  32.0      0      0            370376   7.7500   NaN        Q

[577 rows x 12 columns]

In [62]:

# find those names contains "Johnson"
print(df.loc[df["Name"].str.contains("Johnson")])

     PassengerId  Survived  Pclass  \
8              9         1       3
172          173         1       3
302          303         0       3
597          598         0       3
719          720         0       3
869          870         1       3

                                                  Name     Sex   Age  SibSp  \
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
172                       Johnson, Miss. Eleanor Ileen  female   1.0      1
302                    Johnson, Mr. William Cahoone Jr    male  19.0      0
597                                Johnson, Mr. Alfred    male  49.0      0
719                       Johnson, Mr. Malkolm Joackim    male  33.0      0
869                    Johnson, Master. Harold Theodor    male   4.0      1

     Parch  Ticket     Fare Cabin Embarked
8        2  347742  11.1333   NaN        S
172      1  347742  11.1333   NaN        S
302      0    LINE   0.0000   NaN        S
597      0    LINE   0.0000   NaN        S
719      0  347062   7.7750   NaN        S
869      1  347742  11.1333   NaN        S

In [31]:
# read json
# final project: history data (json)

import pandas as pd

url = "https://jsonplaceholder.typicode.com/users"
df = pd.read_json(url)
print(df.head())

   id              name   username                      email  \
0   1     Leanne Graham       Bret          Sincere@april.biz
1   2      Ervin Howell  Antonette          Shanna@melissa.tv
2   3  Clementine Bauch   Samantha         Nathan@yesenia.net
3   4  Patricia Lebsack   Karianne  Julianne.OConner@kory.org
4   5  Chelsey Dietrich     Kamren   Lucio_Hettinger@annie.ca

                                             address                  phone  \
0  {'street': 'Kulas Light', 'suite': 'Apt. 556',...  1-770-736-8031 x56442
1  {'street': 'Victor Plains', 'suite': 'Suite 87...    010-692-6593 x09125
2  {'street': 'Douglas Extension', 'suite': 'Suit...         1-463-123-4447
3  {'street': 'Hoeger Mall', 'suite': 'Apt. 692',...      493-170-9623 x156
4  {'street': 'Skiles Walks', 'suite': 'Suite 351...          (254)954-1289

         website                                            company
0  hildegard.org  {'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...
1  anastasia.net  {'name': 'Deckow-Crist', 'catchPhrase': 'Proac...
2    ramiro.info  {'name': 'Romaguera-Jacobson', 'catchPhrase': ...
3       kale.biz  {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...
4   demarco.info  {'name': 'Keebler LLC', 'catchPhrase': 'User-c...

In [91]:
# apply() -> produce a new Series
series_of_true_false = df["address"].apply(lambda x: x["street"] == "Victor Plains")
print(series_of_true_false)

print(df[series_of_true_false])

0    False
1     True
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: address, dtype: bool
   id          name   username              email  \
1   2  Ervin Howell  Antonette  Shanna@melissa.tv

                                             address                phone  \
1  {'street': 'Victor Plains', 'suite': 'Suite 87...  010-692-6593 x09125

         website                                            company
1  anastasia.net  {'name': 'Deckow-Crist', 'catchPhrase': 'Proac...

In [101]:
import pandas as pd
import requests
from pandas import json_normalize

url = "https://jsonplaceholder.typicode.com/users"
response = requests.get(url)
data = response.json()
df = json_normalize(data) # this deserialization is able to solve "address.street"

# print(df.info())

result = df[df["address.street"] == "Victor Plains"]
print(result)

   id          name   username              email                phone  \
1   2  Ervin Howell  Antonette  Shanna@melissa.tv  010-692-6593 x09125

         website address.street address.suite address.city address.zipcode  \
1  anastasia.net  Victor Plains     Suite 879  Wisokyburgh      90566-7771

  address.geo.lat address.geo.lng  company.name  \
1        -43.9509        -34.4618  Deckow-Crist

              company.catchPhrase                        company.bs
1  Proactive didactic contingency  synergize scalable supply-chains

In [102]:
# String to float: astype(float)
result2 = df[(df["address.geo.lat"].astype(float) < 0) & (df["address.geo.lng"].astype(float) < 0)]
print(result2)

   id                      name       username                 email  \
1   2              Ervin Howell      Antonette     Shanna@melissa.tv
2   3          Clementine Bauch       Samantha    Nathan@yesenia.net
7   8  Nicholas Runolfsdottir V  Maxime_Nienow  Sherwood@rosamond.me

                 phone        website     address.street address.suite  \
1  010-692-6593 x09125  anastasia.net      Victor Plains     Suite 879
2       1-463-123-4447    ramiro.info  Douglas Extension     Suite 847
7    586.493.6943 x140   jacynthe.com   Ellsworth Summit     Suite 729

    address.city address.zipcode address.geo.lat address.geo.lng  \
1    Wisokyburgh      90566-7771        -43.9509        -34.4618
2  McKenziehaven      59590-4157        -68.6102        -47.0653
7      Aliyaview           45169        -14.3990       -120.7677

         company.name                company.catchPhrase  \
1        Deckow-Crist     Proactive didactic contingency
2  Romaguera-Jacobson  Face to face bifurcated interface
7     Abernathy Group      Implemented secondary concept

                         company.bs
1  synergize scalable supply-chains
2   e-enable strategic applications
7     e-enable extensible e-tailers

In [104]:
# df[] + series of true or false -> filtering
series = (df["address.geo.lat"].astype(float) < 0) & (df["address.geo.lng"].astype(float) < 0)
print(series)

0    False
1     True
2     True
3    False
4    False
5    False
6    False
7     True
8    False
9    False
dtype: bool

In [6]:
import pandas as pd
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

df = pd.read_csv(url)
df_after_drop = df.dropna(subset=["Age"])

In [ ]:
df_for_refill = df.copy()
df_after_refill = df_for_refill["Age"].fillna("N/A")

df_after_refill.to_csv("all_with_age3.csv",index=False)

In [19]:
import pandas as pd
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

df = pd.read_csv(url)

df["Age_Group"] = df["Age"].apply(lambda x: "Adult" if x >= 18 else "Child")
df.to_csv("all_with_age4.csv",index=False)

In [30]:
import pandas as pd
import requests
from pandas import json_normalize

data  = pd.read_json("TSLA.json")

<bound method NDFrame.head of                                                     chart
result  [{'meta': {'currency': 'USD', 'symbol': 'TSLA'...
error                                                None>