In [21]:
# set (unique, no ordering)
numbers = [90, 100, 90]
print(numbers) 

# [] -> List
# {} -> Set

numbers = {90, 100, 90}
print(numbers) 

numbers.add(80)
numbers.add(100)
print(numbers)

numbers.add(99)
print(numbers)
numbers.remove(90)
print(numbers)

numbers2 = {4, 100, -6, -1000}

numbers.update(numbers2) # merge

print(numbers) # {80, 99, 100, 4, -1000, -6}

numbers.pop() # random item (because not ordered)
print(numbers)

[90, 100, 90]
{90, 100}
{80, 90, 100}
{80, 90, 99, 100}
{80, 99, 100}
{80, 99, 100, 4, -1000, -6}
{99, 100, 4, -1000, -6}

In [28]:
numbers3 = {6.7, 4.8, 2.4, 6.7}
numbers4 = {6.7, 9.2, 2.4, 9.2}

intersect_values = numbers3.intersection(numbers4)
print(numbers3)
print(numbers4)
print(intersect_values)

difference_values = numbers3.difference(numbers4) # numbers3 not exists in numbers4
print(difference_values)

print (numbers3 - numbers4) # numbers3 not exists in numbers4
print (numbers4 - numbers3) # numbers4 not exists in numbers3

{2.4, 4.8, 6.7}
{9.2, 2.4, 6.7}
{2.4, 6.7}
{4.8}
{4.8}
{9.2}

In [3]:
values = {"3333", 3333, True, '3333'}
print(values)

{True, '3333', 3333}

NameError: name 'pd' is not defined