In [37]:
x = 3
print(x)

y = 7 + 3 * 2
print(y)

z = (7 + 3) * 2
print(z)

a = 10 / 3
print(a)
print(type(a))

b = 10 / 2
print(b)
print(type(b))

c = 10 + 3
print(type(c))

d = 10 - 3.4
print(d)
print(type(d))

e = (10 - 4.5) / 2 * 10
print(e)

# ZeroDivisionError
# f = 10 / 0
# print(f)

g = 10 ** 2
print(g)

3
13
20
3.3333333333333335
<class 'float'>
5.0
<class 'float'>
<class 'int'>
6.6
<class 'float'>
27.5
100

In [38]:
x = 8
y = 9.7
print(x == y)
z = 9.7
print(z == y)
k = 9.3
print(y == k) # False
print(type(y) == type(k)) # True

False
True
False
True

In [39]:
q = 'hello'
print(q)
print(type(q))

name = "Tommy"
print(name)
print(type(name))

name = 'Jacky'
print(name)
print(type(name))

name = 10
print(name)
print(type(name))

hello
<class 'str'>
Tommy
<class 'str'>
Jacky
<class 'str'>
10
<class 'int'>

In [40]:
staff_name = 'Sally'
_staff_name = 'Petter'
print(staff_name)
print(_staff_name)

# Can't
# 2name = 'Jacky'
# print(2name)

# staff-name = 'Oscar'
# print(staff-name)

# Case-sensitive
h = 10
H = 12
print(h)
print(H)
print(h == H)

Sally
Petter
10
12
False

In [41]:
# Stron Type Language
x = 3
print(type(x)) 
s = str(x)
print(s)
print(type(s)) 

# Java: String + any type -> String
# Python: String + String
print("Age: " + str(x))

<class 'int'>
3
<class 'str'>
Age: 3

In [42]:
# >, <, >=, <=, !=, ==
g = 8
if g > 10:
  print('g is greater than 10')
elif g >= 7:
  print('g is greater than 7')

if g == 8:
  print('g is equal to 8')

if g != 10:
  print('g is not equal to 10')

g is greater than 7
g is equal to 8
g is not equal to 10

In [43]:
name = 'Jennie'
if name == 'Jennie':
  print('Jennie.')

if name != 'Jenny':
  print('Not Jenny.')

Jennie.
Not Jenny.

In [46]:
import math

x = -3
print(abs(x))

print(round(3.14159, 2))
print(round(3.14459, 2))
print(round(3.14559, 2))

print(math.sqrt(16))

print(2 ** 3.2)
print(math.pow(2, 3.2))
# 4 x 3 x 2 x 1
print(math.factorial(4))

print(math.ceil(3.2)) # 4
print(math.floor(3.2)) # 3
print(math.pi)

radius = 5.5
circle_area = round(radius ** 2 * math.pi, 2)
print(circle_area)

3
3.14
3.14
3.15
4.0
9.18958683997628
9.18958683997628
24
4
3
3.141592653589793
95.03

In [53]:
import statistics

data = [90, 40, 50, 20, 8, -3, 50]

print(statistics.mean(data))
print(statistics.median(data)) # sorting + middle value
print(statistics.stdev(data))
print(statistics.variance(data))

36.42857142857143
40
31.314837499483335
980.6190476190476

In [57]:
total_student_number = 132
class_lot = 30

print(total_student_number // class_lot)
print(total_student_number / class_lot)
print(total_student_number % class_lot)

4
4.4
12

In [60]:
a = 3
b = 4

hypotenuse = math.sqrt(a**2 + b**2)
print(hypotenuse)

5.0